<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.Flower_RecDAO">
   
   <select id="selectAll_Rec" resultType="com.smhrd.domain.Flower_Rec">
		select * from F_RECIPE
	</select>
	
   
</mapper>