<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.MemberDAO">
   <insert id="insertMember" parameterType="com.smhrd.domain.MemberVO">
      insert into member values (#{id}, #{name}, #{pw}, #{birth})
   </insert>
   <select id="selectMember" parameterType="com.smhrd.domain.MemberVO" resultType="com.smhrd.domain.MemberVO">
      select * from member where m_id=#{id} and m_pw=#{pw}
   </select>

   <update id="updateMember" parameterType="com.smhrd.domain.MemberVO">
      update member set m_pw=#{pw}, tel=#{tel}, address=#{address} where email =#{email}
   </update>
   
   <select id="selectAll" resultType="com.smhrd.domain.MemberVO">
      select * from member
   
   </select>
   
   
   <delete id = "deleteMember" parameterType="String">
      delete from member where email = #{email}
   </delete>
   
   
   
   
</mapper>