<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.domain.PostDAO">
	<insert id="insertPost" parameterType="com.smhrd.domain.PostVO">
		insert into post values (pnumseq.nextval , #{mid}, #{title}, #{content}, #{fid}, #{plike}, sysdate, #{hit}, #{oname}, #{sname}, #{sload})
	</insert>
	<select id="selectAllBoard" resultType="com.smhrd.domain.PostVO">
        select pnum, mid, title, sname, content from post order by pnum
    </select>
	
	<select id="selectPost" parameterType="int" resultType="com.smhrd.domain.PostVO">
		select * from post where pnum = #{pnum}
	</select>
	
	<update id="updatePost" parameterType="com.smhrd.domain.PostVO">
		update post set title=#{title}, content=#{content}, fid=#{fid}, where mid=#{mid}
	</update>
	
	<delete id="deletePost" parameterType="int">
		delete from post where pnum = #{pnum}
	</delete>
	
	
	
</mapper>