<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.smhrd.domain.ReplyDAO">
	<insert id="insertReply" parameterType="com.smhrd.domain.ReplyVO">
     	insert into reply values (reply_num_seq.nextval, #{pnum}, #{replyid}, #{replycontent})
   </insert>

	<select id="selectAllReply" resultType="com.smhrd.domain.ReplyVO">
		select * from reply 
	</select>
	
	<update id="updateReply" parameterType="com.smhrd.domain.ReplyVO">
      update reply set replycontent=#{replycontent} where replyid=#{replyid} and reply_num=#{reply_num} and pnum=#{pnum}
   </update>
	
	
	<delete id="deleteReply" parameterType="int">
		delete from reply where reply_num=#{reply_num}
	</delete>
	
</mapper>  