<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
	<display-name>Flower_Project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>JoinCon</display-name>
		<servlet-name>JoinCon</servlet-name>
		<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginCon</display-name>
		<servlet-name>LoginCon</servlet-name>
		<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutCon</display-name>
		<servlet-name>LogoutCon</servlet-name>
		<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IdCheckCon</display-name>
		<servlet-name>IdCheckCon</servlet-name>
		<servlet-class>com.smhrd.controller.IdCheckCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IdPwCheck</display-name>
		<servlet-name>IdPwCheck</servlet-name>
		<servlet-class>com.smhrd.controller.IdPwCheck</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>DeleteReplyCon</display-name>
		<servlet-name>DeleteReplyCon</servlet-name>
		<servlet-class>com.smhrd.controller.DeleteReplyCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReplyCon</display-name>
		<servlet-name>ReplyCon</servlet-name>
		<servlet-class>com.smhrd.controller.ReplyCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReplyUpdateCon</display-name>
		<servlet-name>ReplyUpdateCon</servlet-name>
		<servlet-class>com.smhrd.controller.ReplyUpdateCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddPostCon</display-name>
		<servlet-name>AddPostCon</servlet-name>
		<servlet-class>com.smhrd.controller.AddPostCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectPostCon</display-name>
		<servlet-name>SelectPostCon</servlet-name>
		<servlet-class>com.smhrd.controller.SelectPostCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdatePostCon</display-name>
		<servlet-name>UpdatePostCon</servlet-name>
		<servlet-class>com.smhrd.controller.UpdatePostCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeletePostCon</display-name>
		<servlet-name>DeletePostCon</servlet-name>
		<servlet-class>com.smhrd.controller.DeletePostCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateReplyCon</display-name>
		<servlet-name>UpdateReplyCon</servlet-name>
		<servlet-class>com.smhrd.controller.UpdateReplyCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectReplyCon</display-name>
		<servlet-name>SelectReplyCon</servlet-name>
		<servlet-class>com.smhrd.controller.SelectReplyCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LikeAjaxCon</display-name>
		<servlet-name>LikeAjaxCon</servlet-name>
		<servlet-class>com.smhrd.controller.LikeAjaxCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HashPostCon</display-name>
		<servlet-name>HashPostCon</servlet-name>
		<servlet-class>com.smhrd.controller.HashPostCon</servlet-class>
	</servlet>
	
	
	
	
	<servlet-mapping>
		<servlet-name>JoinCon</servlet-name>
		<url-pattern>/JoinCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCon</servlet-name>
		<url-pattern>/LoginCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutCon</servlet-name>
		<url-pattern>/LogoutCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdCheckCon</servlet-name>
		<url-pattern>/IdCheckCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdPwCheck</servlet-name>
		<url-pattern>/IdPwCheck</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteReplyCon</servlet-name>
		<url-pattern>/DeleteReplyCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplyCon</servlet-name>
		<url-pattern>/ReplyCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplyUpdateCon</servlet-name>
		<url-pattern>/ReplyUpdateCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPostCon</servlet-name>
		<url-pattern>/AddPostCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectPostCon</servlet-name>
		<url-pattern>/SelectPostCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePostCon</servlet-name>
		<url-pattern>/UpdatePostCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePostCon</servlet-name>
		<url-pattern>/DeletePostCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateReplyCon</servlet-name>
		<url-pattern>/UpdateReplyCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectReplyCon</servlet-name>
		<url-pattern>/SelectReplyCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LikeAjaxCon</servlet-name>
		<url-pattern>/LikeAjaxCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HashPostCon</servlet-name>
		<url-pattern>/HashPostCon</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
