<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>Flower_Project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>JoinCon</display-name>
		<servlet-name>JoinCon</servlet-name>
		<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginCon</display-name>
		<servlet-name>LoginCon</servlet-name>
		<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutCon</display-name>
		<servlet-name>LogoutCon</servlet-name>
		<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IdCheckCon</display-name>
		<servlet-name>IdCheckCon</servlet-name>
		<servlet-class>com.smhrd.controller.IdCheckCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IdPwCheck</display-name>
		<servlet-name>IdPwCheck</servlet-name>
		<servlet-class>com.smhrd.controller.IdPwCheck</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>JoinCon</servlet-name>
		<url-pattern>/JoinCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCon</servlet-name>
		<url-pattern>/LoginCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutCon</servlet-name>
		<url-pattern>/LogoutCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdCheckCon</servlet-name>
		<url-pattern>/IdCheckCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdPwCheck</servlet-name>
		<url-pattern>/IdPwCheck</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
